html, body {
	height: 100%;
	margin: 0;
} 

.center {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 20px;
   height: 20px;
   margin-top: -10px; /* Half the height */
   margin-left: -10px; /* Half the width */
}

.leaflet-container .leaflet-control-mouseposition {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px #bbb;
  padding: 0 5px;
  margin:0;
  color: #333;
  font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.noscrol {
	overflow: hidden;
}