html, body {
	height: 100%;
	margin: 0;
} 

.center {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 20px;
   height: 20px;
   margin-top: -10px; /* Half the height */
   margin-left: -10px; /* Half the width */
}

.leaflet-container .leaflet-control-mouseposition {
  opacity: 50%;
  background-color: white;
  box-shadow: 0 0 5px #bbb;
  padding: 0 5px;
  margin:0;
  color: #333;
  font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.noscrol {
	overflow: hidden;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.poiOpenArea { position: absolute; top: 0; left: 0; width: 60%; height: 100%; }

.poiCloseArea { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }