/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px;
    position: fixed;
    left: 0;
    background-color: white;
    padding-top: 10px; /* Place content 10px from the top */
    font-family: "Montserrat", arial, sans-serif;
	height: 100%;
}

.sidenav h2 {
	padding-left: 32px;
	display: block;
    font-size: 32px;
	color: #818181;
}

/* The navigation menu links */
.sidenav a {
	padding-bottom: 8px;
	padding-left: 32px;
	display: block;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav a:active {
    color: #f1f1f1;
}

.sidenav ul {
	display: block;
	font-size: 20px;
    color: #818181;
}

.sidenav li {
	padding-bottom: 8px;
}

.sidenav hr {
	align-items: center;
	height: 5px;
	background-color: #818181;
	width: 90%;
}

.content {
	top: 0;
	bottom: -250px;
	position: absolute;
}

.footer {
	bottom: 0;
	height: 250px;
	position: absolute;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 5px;}
    .sidenav h2 {font-size: 16px;}
    .sidenav a {font-size: 12px;}
    .sidenav ul {font-size: 12px;}
    .content {margin-bottom: 150px;}
    .footer {height: 150px;}
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.main {
    transition: margin-left .5s; /* 0.5 second transition effect to reveal sidenav */
    margin-left: 0;
    height: 100%;
    box-shadow: -10px 0px 10px 1px #aaaaaa;
}