body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}
h1 h2 h3 h4 h5 h6 {
  font-family: "Raleway", sans-serif;
  /*font-family: "Lora", serif;*/
}

#map {
  background: white;
  height: 100vh;
  cursor: default;
  transition: 0.5s; /* 0.5 second transition effect to slide in the infobar */
}

.sidebar {
  margin-top: 164px;
  margin-bottom: 26px;
}
.sidebar-header {
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
}
.sidebar.collapsed {
  width: 30px;
}
.sidebar-tabs {
  width: 30px;
}
.sidebar-left .sidebar-content {
  left: 30px;
}
.sidebar-tabs > ul > li {
  height: 30px;
  width: 30px;
}
.layer {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}
.layer-title {
  margin: 0;
  font-weight: normal;
  flex: auto;
  text-align: left;
  line-height: 30px;
}

.slider-display {
  font-weight: normal;
  margin: auto 5px auto 0;
  line-height: 100%;
}
.toggle-display {
  font-weight: normal;
  margin: auto 5px auto 0;
  line-height: 100%;
}

#submit {
  z-index: 100;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
/* The infobar menu */
.infobar {
  height: 100vh;
  width: 40vw; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 3000; /* Stay on top */
  top: 0;
  right: -40vw;
  background-color: #111; /* Black*/
  color: white;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the infobar */
}
.infobar a {
  color: lightblue;
}

.map-infobar-closed {
  width: 100vw;
}
.map-infobar-open {
  width: 60vw;
}
.infobar-open {
  right: 0;
}

.infobar-header {
  margin: 0 20px 20px 30px;
}

.infobar-content {
  margin: 0 30px 20px 30px;
  padding: 0 20px 20px 20px;
  overflow-y: scroll;
  height: calc(100vh - 60px - 43px - 20px - 40px);
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s; /* If you want a transition effect */
  padding: 20px;
}

.contribute-button {
  border: 2px solid rgba(0, 0, 0, 0.2);
  display: block;
  width: 34px;
  height: 34px;
  background: url("/../images/sular.png") #fff;
  background-repeat: no-repeat;
  background-size: auto 26px;
  background-position: center 2px;
  border-radius: 4px;
  cursor: pointer;
}
.contribute-button:hover {
  background-color: #f4f4f4;
}

.github-button {
  background-image: url("/../images/GitHub-Mark-32px.png");
  background-repeat: no-repeat;
  background-size: auto 26px;
  background-position: center 2px;
}
.burger-button {
  background-image: url("/../images/burger.png");
  background-repeat: no-repeat;
  background-size: auto 26px;
  background-position: center 2px;
}

#infobar-closebtn {
  float: right;
  margin-right: 40px;
  font-size: xx-large;
  margin-top: -20px;
  background-color: #111;
  color: white;
}
.hide-point-layer .point-layer {
  display: none;
}

.popup-close-button {
  font-size: 40px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  position: absolute;
  right: -10px;
  top: -10px;
}
.popup-close-button:hover {
  cursor: pointer;
  background-color: #f4f4f4;
}

.action-button {
  font-size: large;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 8px;
}
.action-button:hover {
  cursor: pointer;
  background-color: #f4f4f4;
}

/* Toggle Button */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.legend {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  transition: 0.5s;
}
.legend-row {
  width: 172px;
  display: flex;
  flex-direction: row;
  margin: 5px 4px 0px 4px;
}
.legend-title {
  cursor: default;
  margin: 0 5px 0 5px;
  line-height: 20px;
}
.legend-color-box {
  cursor: pointer;
  width: 50px;
}
.legend-close-btn {
  margin: 0;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
.legend-closed {
  -webkit-transform: translateY(-310px);
  -ms-transform: translateY(-310px);
  transform: translateY(-310px);
}
.legend-closed > .legend-close-btn {
  transform: rotate(180deg);
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.above-below {
  display: flex;
  flex-direction: column;
}
.center {
  font-size: large;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .infobar {
    width: 60vw;
    right: -60vw;
  }
  .map-infobar-closed {
    width: 100vw;
  }
  .map-infobar-open {
    width: 40vw;
  }
  .infobar-open {
    right: 0;
  }
}

@media screen and (max-width: 768px) {
  .legend {
    -webkit-transform: translateY(-310px);
    -ms-transform: translateY(-310px);
    transform: translateY(-310px);
  }
  .legend-close-btn {
    transform: rotate(180deg);
  }
  .legend-closed {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
  .legend-closed > .legend-close-btn {
    transform: rotate(0deg);
  }

  .sidebar {
    width: calc(100vw - 20px);
    border: 2px solid rgba(0, 0, 0, 0.2);
  }
  .sidebar-left {
    left: 10px;
    margin-top: 174px;
    margin-bottom: 36px;
  }
  .map-infobar-open {
    width: 0vw;
  }
  .infobar {
    width: 100vw;
    right: -100vw;
  }
  .infobar-open {
    right: 0;
  }
  .infobar-content {
    height: calc(100vh - 60px - 87px - 20px - 40px);
  }
}
