.popup {
  display: none;
  position: fixed;
  padding: 40px;
  width: 80vw;
  max-width: 800px;
  max-height: 80vh;
  left: 50%;
  top: 50%;
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  background: #fff;
  z-index: 4000;
}

.popup h2 {
  text-align: center;
  margin-top: 0;
}

.popup-content {
  height: calc(80vh - 40px);
  overflow-y: scroll;
}

#popup {
  -webkit-box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
}
